
@{
    ViewBag.Title = "Succesful";
}

<h2>All your details have been successfully captured and the form has been submitted. Please wait for your details to be verified, this may take up to a week and if you are accepted then you may proceed to registration. </h2>

